.all {
    height: 500px;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
    background-color: gray;
    text-align: center;
    box-sizing: border-box;
    padding: 7px;
}
.buttons {
    display: grid;
    grid-template-columns: 70% 30%;
}